{% extends 'base2.html' %} {% block body %} {% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-15">
            <div class="page-header">
                <h2>Categories</h2>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Dishes</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in cat %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.dish_set.count}}</td>
                        <form action="" method="post">
                            {% csrf_token %}
                            <td>
                                <button type="submit" name="delete" value="{{ i.id }}" class="btn btn-danger btn-xs">
                                    Cancel
                                </button>
                            </td>
                        </form>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-15">
        <div class="page-header">
            <h2>Add Category</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Category Name</label>
                <input type="text" name="catName" class="form-control" id="exampleInputEmail1" placeholder="Enter Category Name..." />
            </div>
            <button type="submit" name="addCat" class="btn btn-default">Submit</button>
        </form>
    </div>

</div {% endblock %}